@import url('https://fonts.googleapis.com/css?family=Asap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #6ed3cf;
}

header {
background: #e62739;
padding: 20px;
}

header > h1 {
color: black;
text-align: center;
font-weight: bold;
font-family: Asap , sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid #e62739;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
    font-family: Asap;
}
